#cursor {
  pointer-events: none;
}
.cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
circle {
  fill: #a18248;
}
.smallCircle {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease;
}
.bigCircle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3px;
  color: #000;
}
.link_grow {
  height: 60px;
  width: 60px;
  /* transform: scale(2); */
}

@media (max-width: 760px){
  #cursor{
    display: none;
  }
  
}
